h1{
    color: green;
    text-align: center;
}
h2{
    color: red;
    text-align: center;
}
body{
    background-image: url("https://miro.medium.com/max/3840/1*ee9Ji2ToUxeYfj3YUQ1xsA.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
img{
    padding-left: 15px;
    float: right;

}
h4{
    color: blueviolet;
    text-align: center;
}
.row{
    display : flex;
    flex-direction : row-reverse;
    justify-content:Space-between;
  }
  .column{
  float : left;
  text-align: center;
   width: 33%;
    margin: 10px;
  padding : 50px;
  }
  span{
      color: peru;
  }
  p{
      color: black;
  }
  footer{
      background-color: green;
  }